@font-face {
    font-family: khmerM1;
    src: url('fonts/khmer M1.volt.ttf') format('truetype');
}
body{
  font-family: 'Khmer Os Content';
  font-size: 12pt;
}
.font-M1{
  font-family: 'khmerM1';
}
.btn{
  border:none;
}
.memu-bar{
  margin-bottom: 10px;
  margin-top: 10px;
}
.navbar{
  border-radius: 0;
}
.center{
  text-align: center;
}
.box-title{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 5px;
  font-family: 'khmerM1';
}
.box-form{
    margin-top: 25px;
}
